

    .title-bar_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2px;
        padding: 0 16px;
        height: 56px;
        box-shadow: 0 2px rgba($color: #000000, $alpha: 0.2);

        .title {
            width: 300px;
        }
    }