<nz-card *ngIf="country">
  <div class="card-content">
    <div class="left-content">
      <div class="title-container">
        <img [src]="country.flags.png" />
        <h2
          [innerHTML]="country.name.common | underlineMatch: searchValue"
        ></h2>
      </div>
      <div class="subtitle-container">
        <span *ngIf="country.capital"
          ><span
            [innerHTML]="country.capital[0] | underlineMatch: searchValue"
          ></span
          >,&nbsp;</span
        >
        <span *ngIf="country.subregion"
          ><i class="region">{{ country.subregion }}</i></span
        >
      </div>
    </div>

    <div class="right-content">
      Population
      <div>
        <span nz-icon nzType="team" nzTheme="outline"></span>
        {{ country.population | number: "1.0":"en-US" }}
      </div>
    </div>
  </div>
</nz-card>
