<app-title-bar [(searchValue)]="searchValue"></app-title-bar>
<button
  *ngIf="showBackToTop"
  style="position: absolute; right: 32px; bottom: 32px; z-index: 1"
  nz-button
  nzType="primary"
  nzShape="circle"
  (click)="onBackToTopClicked()"
>
  <span nz-icon nzType="up"></span>
</button>
<div class="countries_content">
  <div
    style="
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 4px;
    "
  >
    <span
      class="sort"
      (click)="onNameSortClicked()"
      [ngClass]="{
        isNameSortActive: sortBy == 'nameAesc' || sortBy == 'nameDesc'
      }"
      >Name
      <span
        *ngIf="sortBy == 'nameAesc'"
        nz-icon
        nzType="sort-ascending"
        nzTheme="outline"
      ></span
      ><span
        *ngIf="sortBy == 'nameDesc'"
        nz-icon
        nzType="sort-descending"
        nzTheme="outline"
      ></span
    ></span>
    <span
      class="sort"
      (click)="onPopulationSortClicked()"
      [ngClass]="{
        isNameSortActive:
          sortBy == 'populationAesc' || sortBy == 'populationDesc'
      }"
      >Population
      <span
        *ngIf="sortBy == 'populationDesc'"
        nz-icon
        nzType="caret-down"
        nzTheme="outline"
      ></span>
      <span
        *ngIf="sortBy == 'populationAesc'"
        nz-icon
        nzType="caret-up"
        nzTheme="outline"
      ></span>
    </span>
  </div>
  <div style="text-align: center">
    <span
      *ngIf="isFetchingCountries"
      nz-icon
      nzType="loading"
      nzTheme="outline"
    ></span>

    <ng-container *ngFor="let country of countries">
      <app-country-card [country]="country"></app-country-card>
    </ng-container>
  </div>
</div>
